<%- include('partials/header') %>
  <div class="titlepage">
    <h1 class="title"><%= title %></h1>
    <p class="subtitle">Use the navigation bar above to book!</p>
  </div>


<%- include('partials/footer') %>